.TopBar {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 20px;
  padding-bottom: 5px;
  background-color: #30363d;
  color: white;
  border-bottom: 1px solid #3fb950;
}

.TopBar button {
  margin: 0;
  padding: 0px 10px;
  color: #e6edf3;
  background-color: #363d45;
  border: 1px solid #47515b;
}

.TopBar button:hover {
  color: #3fb950;
  border-color: #3fb950;
  background-color: #30363d;
}

.TopBar h1 {
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.TopBar h1:hover {
  color: #3fb950;
}

.buttons {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  width: 100%;
}

.dropdown {
  position: relative;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background: #30363d;
  border: 1px solid #444;
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 150px;
  z-index: 100;
}

.dropdownMenu button {
  text-align: left;
  width: 100%;
}
